
.handsontable .htCommentCell:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      border-left: 20px solid transparent;
      border-right: none;
      border-top: 14px solid red;
    }

    .htCommentsContainer .htCommentTextArea {
      width: 320px;
      height: 60px;
    }

    
   .handsontable .htAutocompleteArrow {
            float: right;
            font-size: 10px;
            color: black;
            cursor: default;
            width: 16px;            
            text-align: center;
          }

          .text-right {
        text-align: right;
    }

div#toolbarid {
    position: fixed;
    top: 1%;
}

div#example1 {
    margin-top: 38px;
}
    .handsontable table thead th{
   color: black;
   font-size: 12px;
   font-family: sans-serif;
   }

   .handsontable{
     font-size: 12px;
     font-family: Roboto;
   }

   td.custom-titlecell {
     background-color: rgb(204,204,204);
     font-weight: bold;
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     color: black;

   }

   td.custom-titlecell2 {
     background-color: rgb(204,204,204);
     font-weight: bold;
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     color: black;
   }


   
   td.custom-normalcell {
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
     border-bottom: 1px solid black;
     color: black;

   }


 .handsontable .htDimmed {
  color: black;
}