
.handsontable .htCommentCell:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      border-left: 20px solid transparent;
      border-right: none;
      border-top: 14px solid red;
    }

    .htCommentsContainer .htCommentTextArea {
      width: 320px;
      height: 60px;
    }

    
   .handsontable .htAutocompleteArrow {
            float: right;
            font-size: 10px;
            color: black;
            cursor: default;
            width: 16px;            
            text-align: center;
          }

          .text-right {
        text-align: right;
    }


div#example1 {
    margin-top: 12px;
}
    .handsontable table thead th{
   color: black;
   font-size: 12px;
   font-family: sans-serif;
   }

   .handsontable{
     font-size: 12px;
     font-family: Roboto;
   }

   td.custom-titlecell {
     background-color: rgb(204,204,204);
     font-weight: bold;
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     color: black;

   }

   td.custom-titlecell2 {
     background-color: rgb(204,204,204);
     font-weight: bold;
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     color: black;
   }


   
   td.custom-normalcell {
     border-left: 1px solid black;
     border-right: 0px solid black;
     border-top: 0px solid black;
     border-bottom: 1px solid black;
     color: black;

   }

   /* td.htCenter.htMiddle.custom-normalcell {
    border-left: 1px solid black;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    color: black;
   } */


 .handsontable .htDimmed {
  color: black;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #f2f2f2;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 6px 35px 5px 15px;
  border-bottom: ridge;
}

#undoBttn{
  margin-left:45px;
  padding: 1px 7px 0px 7px;
  border-radius: 3px;
  border: none;
  /* color: #fff; */
  color: black;
  font-size: 14px;
  cursor: pointer;
  /* background-color:lightslategrey; */
  background-color: transparent;
  transition: background-color 0.3s ease; /* Add this line for the animation */

}

#undoBttn:hover{
  background-color: darkslategray; /* Add this line for the hover effect */
  color:white;
}

#redoBttn {
  padding: 1px 7px 0px 7px;
  border-radius: 3px;
  border: none;
  /* color: #fff; */
  color: black;
  font-size: 14px;
  cursor: pointer;
  /* background-color:lightslategrey; */
  background-color: transparent;
  transition: background-color 0.3s ease; /* Add this line for the animation */
}


#redoBttn:hover {
  background-color: darkslategray; /* Add this line for the hover effect */
  color:white;
}

#finishBttn {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: auto;
  background-color: #007bff;
  transition: background-color 0.3s ease; /* Add this line for the animation */
  margin-left:15px;
  margin-right:60px
}

#finishBttn:hover {
  background-color: #0056b3; /* Add this line for the hover effect */
}


#example1 {
  width: 100%;
  height: calc(100vh - 50px); /* Adjust this to leave space for the toolbar */
  overflow: auto;
}

.fa-lg {
  font-size: 1.25em;
  line-height: .05em;
  vertical-align: -0.035em;
  margin-left: -4px;
  padding-right: 5px;
  transition: background-color 0.3s ease; /* Add this line for the animation */
}

.fa-lg:hover {
  color: darkslategray; /* Add this line for the hover effect */
}






.custom-modal .format-options {
  margin-bottom: 20px;
}

.custom-modal .format-options p {
  margin-bottom: 10px;
}

.custom-modal .format-options label {
  display: block;
  margin-bottom: 22px;
}

.custom-modal .format-options input[type="radio"] {
  margin-right: 6px;
}

.custom-modal .underexample {
  /* font-weight: bold; */
  font-size: 0.9em;
  padding-left: 25px;
  font-size: 13px;
}

.custom-modal .example {
    font-weight: bold;
    font-size: 20px;     
 }

 .custom-modal .example2 {
    font-weight: bold;
    font-size: 1.0em;
}

.custom-modal .menu-container {
  border-bottom: 0px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.custom-modal .modal-dialog {
  max-width: 800px;
}

.custom-modal .format-options label {
  line-height: 1.2;
}

.menu-separator {
  border-right: 1px solid #ddd;
  height: 100%;
  margin-right: 15px;
  padding-right: 15px;
}





.tooltip {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  height: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999999999999999999999999999999999999999999999;
}

.tooltip .tooltip-arrow::before {
  border-top-color: #000;
}

.tooltip-inner {
  font-size: 13px; /* Replace this value with your desired font size */
}


.dropdown {
  width: 150px; /* Set the desired fixed width for the dropdown */
}








/* Custom CSS to center modal body contents */
.centered-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Optional: Customize the appearance of the modal */
.modal-content {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #f1f1f1;
  border-radius: 10px 10px 0 0;
}

.modal-footer {
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
}

.form-label {
  margin-bottom: 0.1rem;
}







